<div>
  <nav
    class="navbar navbar-expand-lg fixed-top navbar-dark bg-company-custom"
    id="header"
  >
    <a class="navbar-brand" routerLink="/">Stock Search</a>
    <button
      class="navbar-toggler collapsed custom-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div
      class="collapse navbar-collapse flex-grow-1 text-right"
      id="navbarSupportedContent"
    >
      <ul class="navbar-nav ml-auto flex-nowrap">
        <li
          class="nav-item"
          data-toggle="collapse"
          data-target=".navbar-collapse.show"
        >
          <a
            class="nav-link"
            routerLink="/"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }"
            >Search
          </a>
        </li>

        <li
          class="nav-item"
          data-toggle="collapse"
          data-target=".navbar-collapse.show"
        >
          <a
            class="nav-link"
            routerLink="/watchlist"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }"
            >Watchlist</a
          >
        </li>
        <li
          class="nav-item"
          data-toggle="collapse"
          data-target=".navbar-collapse.show"
        >
          <a
            class="nav-link"
            routerLink="/portfolio"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }"
            >Portfolio</a
          >
        </li>
      </ul>
    </div>
  </nav>

  <router-outlet></router-outlet>
</div>
